################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Catharsium.Util
/Catharsium.Util/bin/Debug/net6.0
/Catharsium.Util/obj
/Catharsium.Util.Tests/bin/Debug/net6.0
/Catharsium.Util.Tests/obj
/Configuration/Catharsium.Util.Configuration/bin/Debug/net6.0
/Configuration/Catharsium.Util.Configuration/obj
/Configuration/Catharsium.Util.Configuration.Tests/bin/Debug/net6.0
/Configuration/Catharsium.Util.Configuration.Tests/obj
/IO/Catharsium.Util.IO.Console/bin/Debug/net6.0
/IO/Catharsium.Util.IO.Console/obj
/IO/Catharsium.Util.IO.Console.Tests/bin/Debug/net6.0
/IO/Catharsium.Util.IO.Console.Tests/obj
/IO/Catharsium.Util.IO.Files/bin/Debug/net6.0
/IO/Catharsium.Util.IO.Files/obj
/IO/Catharsium.Util.IO.Files.Tests/bin/Debug/net6.0
/IO/Catharsium.Util.IO.Files.Tests/obj
/Testing/Catharsium.Util.Testing/bin/Debug/net6.0
/Testing/Catharsium.Util.Testing/obj
/Testing/Catharsium.Util.Testing.DbContext/bin/Debug/net6.0
/Testing/Catharsium.Util.Testing.DbContext/obj
/Testing/Catharsium.Util.Testing.DbContext.Tests/bin/Debug/net6.0
/Testing/Catharsium.Util.Testing.DbContext.Tests/obj
/Testing/Catharsium.Util.Testing.Tests/bin/Debug/net6.0
/Testing/Catharsium.Util.Testing.Tests/obj
/Web/Catharsium.Util.Web/bin/Debug/net6.0
/Web/Catharsium.Util.Web/obj
/Web/Catharsium.Util.Web.Tests/bin/Debug/net6.0
/Web/Catharsium.Util.Web.Tests/obj
/Catharsium.Util/bin/Debug
/Configuration/Catharsium.Util.Configuration/bin/Debug
/.vs/ProjectEvaluation
/IO/Catharsium.Util.IO.Console/bin/Debug
/IO/Catharsium.Util.IO.Files/bin/Debug
/Testing/Catharsium.Util.Testing/bin/Debug
/Testing/Catharsium.Util.Testing.DbContext/bin/Debug
/Web/Catharsium.Util.Web/bin/Debug
/Catharsium.Util.Tests/bin/Debug/net8.0
/Configuration/Catharsium.Util.Configuration.Tests/bin/Debug/net8.0
/IO/Catharsium.Util.IO.Console.Tests/bin/Debug/net8.0
/IO/Catharsium.Util.IO.Files.Tests/bin/Debug/net8.0
/Testing/Catharsium.Util.Testing.DbContext.Tests/bin/Debug/net8.0
/Testing/Catharsium.Util.Testing.Tests/bin/Debug/net8.0
/Web/Catharsium.Util.Web.Tests/bin/Debug/net8.0
